--extra-index-url https://download.pytorch.org/whl/cu121
awkward
fastjet
hydra-colorlog
hydra-core
ipykernel
jupyterlab
kaleido
lightning
lmdb
matplotlib
nbdev
nbformat
numpy
omegaconf
pandas
plotly
pre-commit
pyarrow
scikit-learn
scipy
tensorboardX
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
tqdm
uproot
vector
